/*
Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens)
*/

:root {
    /*--border-color: rgb(79, 185, 227);    */
    --border-color: #4FB9E3;
    --border-color-320: #A6193C;
    --border-color-480: #0F0;
    --border-color-768: #0076c6;
    --border-color-992: #BF00FF;
    --border-color-1200: #000;
}

* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    padding: 1em;
    font: 1em/1.3 Arial, Helvetica, sans-serif;
    border: 2px solid var(--border-color);
}

@media screen and (min-width: 320px) {
    body {
        width: 98%;
        /*margin: 0.5em auto;*/
        font: 1em/1.3 Arial, Helvetica, sans-serif;
        border: 1px solid var(--border-color-320);
    }
}

@media screen and (min-width: 480px) {
    body {
        width: 98%;
        /*margin: 0.5em auto;*/
        font: 1em/1.3 Arial, Helvetica, sans-serif;
        border: 1px solid var(--border-color-480);
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 96%;
        /*margin: 0.5em auto;*/
        font: 1em/1.3 Arial, Helvetica, sans-serif;
        border: 1px solid var(--border-color-768);
    }
}

@media screen and (min-width: 992px) {
    body {
        width: 94%;
        font: 1em/1.3 Arial, Helvetica, sans-serif;
        border: 1px solid var(--border-color-992);
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 90%;
        font: 1em/1.3 Arial, Helvetica, sans-serif;
        border: 2px solid var(--border-color-1200);
    }
}



